<H1>ACADEMIC PROGRAM</H1>
<p>
  HAU offers various academic programs from basic education, undergraduate, to
  postgraduate levels. Regardless of the area of discipline you choose, HAU is
  committed to provide transformative education to make a difference, hone your
  values, and develop your capabilities.
</p>
<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>BASIC EDUCATION</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <img mat-card-xl-image src="assets/bed.jpg" />
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content style="text-align: justify"
      >The Laboratory Elementary School was established in 1960 primarily as a
      training ground for the students of the College of Education. A Grade One
      class was initially opened with the children of the workers of the
      founder, Don Juan D. Nepomuceno, as the pupils who all studied free of
      charge. Due to persistent public demand as shown by a growing enrollment,
      a complete elementary department was opened. On April 21, 1961, the
      Elementary Department was given government recognition. Then on August 27,
      1964, its Kindergarten Course was likewise given government recognition.
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>COLLEGE</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <img mat-card-xl-image src="assets/college.jpg" />
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content style="text-align: justify"
      >HAU offers cutting-edge academic programs for the undergraduate level.
      Regardless of the area of discipline you choose, HAU is committed to
      provide transformative education to make a difference, hone your values,
      and develop your capabilities.
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>GRADUATE SCHOOL</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <img mat-card-xl-image src="assets/graduation.jpg" />
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content style="text-align: justify"
      >Holy Angel Academy opened on June 5, 1933 in the old convent of the Holy
      Rosary Parish Church in Angeles. It had 32 high school freshmen, plus 25
      sophomores, 13 juniors and eight seniors who had transferred from another
      high school across town On December 6, 1961, Holy Angel Academy became
      Holy Angel College (HAC). In 1965, the Graduate School opened, with Dr.
      Lourdes Reyes as first Dean. It offered MA in Education major in
      Elementary Education. In 1979, Mamerto Nepomuceno became the President of
      Holy Angel College. On December 4, 1981, the school was granted university
      status. Mamerto Nepomuceno was installed as first University President.
      The Archbishop of San Fernando, Oscar V. Cruz, declared HAU a Catholic
      university.
    </mat-card-content>
  </mat-card>
</div>
