mat-grid-tile {
  border: 2px solid rgb(114, 14, 14);
}

.container img {
  object-fit: contain;
  width: 100%;
}

.heroSection {
  height: 60%;
  background: url('https://stackblitz.com/files/angular-kyabpa-uhbztw/github/RockyBndc/angular-material/main/src/assets/header.png')
    center;
  background-size: cover;
}

header {
  overflow: hidden;
  padding: 10px;
}

.heroText {
  text-align: center;
  color: #fff;
  margin-top: 150px;
}

.heroText h1 {
  font-size: 80px;
  margin: 0;
}

.heroText h2 {
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 1px;
}

.heroText button {
  color: #fff;
  background: transparent;
  border: solid 1px #fff;
  padding: 20px 20px;
}

.heroText button:hover {
  cursor: pointer;
  background: #84592d;
  border: solid 1px #84592d;
  color: #fff;
}

.example-card {
  max-width: 400px;
}

.example-header-image-1 {
  background-image: url('https://stackblitz.com/files/angular-kyabpa-uhbztw/github/RockyBndc/angular-material/main/src/assets/seller-1.jpg');
  background-size: cover;
}
.example-header-image-2 {
  background-image: url('https://stackblitz.com/files/angular-kyabpa-uhbztw/github/RockyBndc/angular-material/main/src/assets/seller-2.jpg');
  background-size: cover;
}
.example-header-image-3 {
  background-image: url('https://stackblitz.com/files/angular-kyabpa-uhbztw/github/RockyBndc/angular-material/main/src/assets/seller-3.jpg');
  background-size: cover;
}

mat-card button {
  color: #84592d;
  background: transparent;
  border: solid 1px #84592d;
  padding: 20px 20px;
  margin: 10px;
}

mat-card button:hover {
  cursor: pointer;
  background: #84592d;
  border: solid 1px #84592d;
  color: #fff;
}