<mat-grid-list cols="3" rowHeight="2:1">
  <div class="container">
    <mat-grid-tile>
      <img src="assets/hau.jpg" alt="" />
    </mat-grid-tile>

    <mat-grid-tile>
      <img src="assets/jed.jpg" alt="" />
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="assets/hau2.jpg" alt="" />
    </mat-grid-tile>
  </div>
</mat-grid-list>

<p>
  Holy Angel University (HAU) is a private Catholic university located in
  Angeles City, Pampanga, Philippines. It was founded in 1933 by Don Juan
  Nepomuceno and his wife, Doña Rosalia de Leon. Originally an elementary and
  high school institution, it later expanded to offer college programs.
</p>

<p>
  Today, HAU is known for its quality education in various fields such as
  business, education, engineering, hospitality and tourism management,
  information technology, and nursing, among others. It has produced numerous
  successful alumni, including politicians, business leaders, and professionals
  in various industries.
</p>

<p>
  Aside from its academic programs, HAU also offers various extracurricular
  activities for students, including sports, music, and theater groups. The
  university also has a strong commitment to community service, with its
  students and faculty participating in various outreach programs and social
  initiatives.
</p>

<p>
  Overall, Holy Angel University is recognized as one of the leading
  universities in the Philippines, providing a well-rounded education to its
  students while instilling the values of social responsibility, leadership, and
  excellence.
</p>

<div class="heroSection">
  <header>
    <div class="container">
      <div class="heroText">
        <h1>4.4</h1>
        <h2>BIG SUMMER SALE</h2>
        <button mat-stroked-button>Start Shopping</button>
      </div>
    </div>
  </header>
</div>
<br />
<div class="container-xxl">
  <div class="row">
    <div class="col-4">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image-1"></div>
          <mat-card-title>Jed Bartolome</mat-card-title>
          <mat-card-subtitle>@jed.brtlm</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz
            breeds of dog from Japan. A small, agile dog that copes very well
            with mountainous terrain, the Shiba Inu was originally bred for
            hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>View</button>
          <button mat-button>Add to Cart</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image-2"></div>
          <mat-card-title>Noie Manoy</mat-card-title>
          <mat-card-subtitle>@noieeeee</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz
            breeds of dog from Japan. A small, agile dog that copes very well
            with mountainous terrain, the Shiba Inu was originally bred for
            hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image-3"></div>
          <mat-card-title>Kisses Reyes</mat-card-title>
          <mat-card-subtitle>@kisShannen</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz
            breeds of dog from Japan. A small, agile dog that copes very well
            with mountainous terrain, the Shiba Inu was originally bred for
            hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
