<div class="heroSection">
  <header>
    <div class="container">
      <div class="heroText">
        <h1>4.4</h1>
        <h2>BIG SUMMER SALE</h2>
        <button mat-stroked-button>Start Shopping</button>
      </div>
    </div>
  </header>
</div>
<br />
<div class="container">
  <div class="row">
    <div class="col-4">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image-1"></div>
          <mat-card-title>Jed Bartolome</mat-card-title>
          <mat-card-subtitle>@jed.brtlm</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="https://stackblitz.com/files/angular-kyabpa-uhbztw/github/RockyBndc/angular-material/main/src/assets/1_11zon.jpeg"
          alt="1"
        />
        <mat-card-content>
          <br />
          <p>
            "Hello! My cousin has recently outgrown her wardrobe and I am
            helping her sell her gently used clothing. From casual to formal
            wear, there are many options available in different sizes. Don't
            hesitate to reach out for more details!"
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button>View</button>
          <button mat-stroked-button>Add to Favorites</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image-2"></div>
          <mat-card-title>Noie Manoy</mat-card-title>
          <mat-card-subtitle>@noieeeee</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="https://stackblitz.com/files/angular-kyabpa-uhbztw/github/RockyBndc/angular-material/main/src/assets/2_11zon.jpeg"
          alt="2"
        />
        <mat-card-content>
          <br />
          <p>
            "Hi there! Our family has decided to declutter our closets and we're
            selling some of our gently used clothing. From kids to adults,
            there's something for everyone. Contact me to see what we have
            available and for more information!"
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>View</button>
          <button mat-button>Add to Favorites</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image-3"></div>
          <mat-card-title>Kisses Reyes</mat-card-title>
          <mat-card-subtitle>@kisShannen</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="https://stackblitz.com/files/angular-kyabpa-uhbztw/github/RockyBndc/angular-material/main/src/assets/3_11zon.jpeg"
          alt="3"
        />
        <mat-card-content>
          <br />
          <p>
            "Hello! I'm downsizing my wardrobe and selling some of my gently
            used clothes. They range from casual to formal wear and come in
            various sizes. Please reach out if you're interested in taking a
            look and finding some new pieces for your wardrobe!"
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>View</button>
          <button mat-button>Add to Favorites</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
