.example-stepper {
  margin-top: 10rem;
  background-color: rgb(248, 248, 248);
  margin: 5rem;
}

.mat-mdc-form-field {
  margin-top: 3rem;
}

.form {
  font-size: 25px;
  font-weight: 600;
  margin: 7rem;
  margin-bottom: -5rem;
  margin-top: 12rem;
}
