<body>
  <div class="container-fluid">
    <br />
    <div class="row" id="sortbar">
      <div class="col-7">
        <div class="row">
          <div class="col-1">Sort by</div>
          <div class="col-2">
            <button mat-button>Relevance</button>
          </div>
          <div class="col-2"><button mat-button>Latest</button></div>
          <div class="col-2"><button mat-button>Top Sales</button></div>
          <div class="col-2">
            <div class="pricechoice">
              <mat-form-field>
                <mat-label>Price</mat-label>
                <mat-select>
                  <mat-option
                    *ngFor="let prices of price"
                    [value]="prices.value"
                  >
                    {{ prices.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="col-5">
        <form class="example-form">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Search</mat-label>
            <input
              type="text"
              matInput
              [formControl]="myControl"
              [matAutocomplete]="auto"
            />
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option
                *ngFor="let option of filteredOptions | async"
                [value]="option"
              >
                {{ option.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>
    </div>
  </div>

  <br />

  <div class="container-fluid">
    <div class="row">
      <div class="col-2 my-2">
        <mat-card class="example-card">
          <img
            mat-card-image
            src="https://stackblitz.com/files/angular-kyabpa-uhbztw/github/RockyBndc/angular-material/stash-2023-01-04_19-01-49/src/assets/1.png"
            alt="1"
          />
          <mat-card-content>
            <br />
            <h5>Off-shoulder Black and White Dress</h5>
            <p>P 260</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-stroked-button>Add to Cart</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-2 my-2">
        <mat-card class="example-card">
          <img
            mat-card-image
            src="https://stackblitz.com/files/angular-kyabpa-uhbztw/github/RockyBndc/angular-material/stash-2023-01-04_19-01-49/src/assets/18.png"
            alt="2"
          />
          <mat-card-content>
            <br />
            <h5>Off-shoulder Black and White Dress</h5>
            <p>P 260</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-stroked-button>Add to Cart</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-2 my-2">
        <mat-card class="example-card">
          <img
            mat-card-image
            src="https://stackblitz.com/files/angular-kyabpa-uhbztw/github/RockyBndc/angular-material/stash-2023-01-04_19-01-49/src/assets/29.png"
            alt="3"
          />
          <mat-card-content>
            <br />
            <h5>Off-shoulder Black and White Dress</h5>
            <p>P 260</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-stroked-button>Add to Cart</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-2 my-2">
        <mat-card class="example-card">
          <img
            mat-card-image
            src="https://stackblitz.com/files/angular-kyabpa-uhbztw/github/RockyBndc/angular-material/stash-2023-01-04_19-01-49/src/assets/32.png"
            alt="4"
          />
          <mat-card-content>
            <br />
            <h5>Off-shoulder Black and White Dress</h5>
            <p>P 260</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-stroked-button>Add to Cart</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-2 my-2">
        <mat-card class="example-card">
          <img
            mat-card-image
            src="https://stackblitz.com/files/angular-kyabpa-uhbztw/github/RockyBndc/angular-material/stash-2023-01-04_19-01-49/src/assets/37.png"
            alt="5"
          />
          <mat-card-content>
            <br />
            <h5>Off-shoulder Black and White Dress</h5>
            <p>P 260</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-stroked-button>Add to Cart</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-2 my-2">
        <mat-card class="example-card">
          <img
            mat-card-image
            src="https://stackblitz.com/files/angular-kyabpa-uhbztw/github/RockyBndc/angular-material/main/src/assets/1_11zon.jpeg"
            alt="1"
          />
          <mat-card-content>
            <br />
            <h5>Off-shoulder Black and White Dress</h5>
            <p>P 260</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-stroked-button>Add to Cart</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-2 my-4">
        <mat-card class="example-card">
          <img
            mat-card-image
            src="https://stackblitz.com/files/angular-kyabpa-uhbztw/github/RockyBndc/angular-material/main/src/assets/1_11zon.jpeg"
            alt="1"
          />
          <mat-card-content>
            <br />
            <h5>Off-shoulder Black and White Dress</h5>
            <p>P 260</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-stroked-button>Add to Cart</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-2 my-4">
        <mat-card class="example-card">
          <img
            mat-card-image
            src="https://stackblitz.com/files/angular-kyabpa-uhbztw/github/RockyBndc/angular-material/main/src/assets/1_11zon.jpeg"
            alt="1"
          />
          <mat-card-content>
            <br />
            <h5>Off-shoulder Black and White Dress</h5>
            <p>P 260</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-stroked-button>Add to Cart</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-2 my-4">
        <mat-card class="example-card">
          <img
            mat-card-image
            src="https://stackblitz.com/files/angular-kyabpa-uhbztw/github/RockyBndc/angular-material/main/src/assets/1_11zon.jpeg"
            alt="1"
          />
          <mat-card-content>
            <br />
            <h5>Off-shoulder Black and White Dress</h5>
            <p>P 260</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-stroked-button>Add to Cart</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-2 my-4">
        <mat-card class="example-card">
          <img
            mat-card-image
            src="https://stackblitz.com/files/angular-kyabpa-uhbztw/github/RockyBndc/angular-material/main/src/assets/1_11zon.jpeg"
            alt="1"
          />
          <mat-card-content>
            <br />
            <h5>Off-shoulder Black and White Dress</h5>
            <p>P 260</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-stroked-button>Add to Cart</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-2 my-4">
        <mat-card class="example-card">
          <img
            mat-card-image
            src="https://stackblitz.com/files/angular-kyabpa-uhbztw/github/RockyBndc/angular-material/main/src/assets/1_11zon.jpeg"
            alt="1"
          />
          <mat-card-content>
            <br />
            <h5>Off-shoulder Black and White Dress</h5>
            <p>P 260</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-stroked-button>Add to Cart</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-2 my-4">
        <mat-card class="example-card">
          <img
            mat-card-image
            src="https://stackblitz.com/files/angular-kyabpa-uhbztw/github/RockyBndc/angular-material/main/src/assets/1_11zon.jpeg"
            alt="1"
          />
          <mat-card-content>
            <br />
            <h5>Off-shoulder Black and White Dress</h5>
            <p>P 260</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-stroked-button>Add to Cart</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
  <br />
  <br />
</body>
